<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/designs/blank}">
<head>
    <title>LEAVE MANAGEMENT SYSTEM LOGIN</title>
</head>
<body>
<div layout:fragment="content">
    <div class="login-box mx-auto">
        <div class="login-logo">
            <a th:href="@{'/login'}"><b th:text="#{label.app.name}"></b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <form th:action="@{/login}" method="post" autocomplete="off">
                    <div th:if="${param.error}">
                        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                    <div th:if="${param.logout}">
                        <p class="text-warning">You have been logged out.</p>
                    </div>
                    <div class="input-group mb-3">
                        <input id="email" type="email" name="email" class="form-control" placeholder="Enter email address on record" required autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase text-sm" th:text="#{button.submit}"></button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
</body>
</html>