<footer class="main-footer mt-1" xmlns:th="http://www.thymeleaf.org">
    <strong>Copyright &copy; 2020 <a href="#" th:text="#{label.blank}"></a>.</strong>
    <span th:text="#{label.all.rights.reserved}"></span>
    <div class="float-right d-none d-sm-inline-block">
        <b th:text="#{label.version}"></b> <span th:text="${appVersion}"></span>
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->