<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" th:name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="./webjars/bootstrap/4.5.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="./webjars/font-awesome/5.14.0/css/all.min.css" th:href="@{/webjars/font-awesome/5.14.0/css/all.min.css}">
    <link rel="stylesheet" href="./webjars/ionicons/2.0.1/css/ionicons.min.css" th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}">
    <link rel="stylesheet" href="./webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" th:href="@{/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css}">
    <link rel="stylesheet" href="./webjars/icheck-bootstrap/3.0.1/icheck-bootstrap.css" th:href="@{/webjars/icheck-bootstrap/3.0.1/icheck-bootstrap.css}">
    <link rel="stylesheet" href="./webjars/fullcalendar/5.0.1/main.min.css" th:href="@{/webjars/fullcalendar/5.0.1/main.min.css}">
    <link rel="stylesheet" href="./webjars/datatables/1.10.23/css/jquery.dataTables.min.css" th:href="@{/webjars/datatables/1.10.23/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" href="./webjars/datatables/1.10.23/css/dataTables.bootstrap4.min.css" th:href="@{/webjars/datatables/1.10.23/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" href="/css/adminlte.min.css" th:href="@{/css/adminlte.min.css}">
    <link rel="stylesheet" href="./webjars/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css" th:href="@{/webjars/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" href="./webjars/animate.css/3.7.2/animate.min.css" th:href="@{/webjars/animate.css/3.7.2/animate.min.css}">
    <link rel="stylesheet" href="./webjars/select2/4.0.13/css/select2.min.css" th:href="@{/webjars/select2/4.0.13/css/select2.min.css}">
    <link rel="stylesheet" href="./webjars/bootstrap-daterangepicker/3.0.5/css/bootstrap-daterangepicker.css" th:href="@{/webjars/bootstrap-daterangepicker/3.0.5/css/bootstrap-daterangepicker.css}">
    <link rel="stylesheet" href="./webjars/sweetalert2/10.12.5/dist/sweetalert2.min.css" th:href="@{/webjars/sweetalert2/10.12.5/dist/sweetalert2.min.css}">
    <link rel="stylesheet" href="./webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" href="/css/app.css" th:href="@{/css/app.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <aside layout:replace="~{/layout/fragments/sidebar}" class="main-sidebar sidebar-dark-primary elevation-4"></aside>
    <nav layout:replace="~{/layout/fragments/main-header}"></nav>
    <div class="content-wrapper" layout:fragment="content"></div>
    <footer class="main-footer" layout:replace="~{/layout/fragments/footer}"></footer>
</div>
<!-- SCRIPTS -->
<script src="./webjars/jquery/3.5.1/jquery.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="./webjars/jquery-ui/1.12.1/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script>
     $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="./webjars/bootstrap/4.5.3/js/bootstrap.bundle.js" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.js}"></script>
<script src="./webjars/font-awesome/5.14.0/js/all.min.js" th:src="@{/webjars/font-awesome/5.14.0/js/all.min.js}"></script>
<script src="./webjars/momentjs/2.24.0/min/moment.min.js" th:src="@{/webjars/momentjs/2.24.0/min/moment.min.js}"></script>
<script src="./webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" th:src="@{/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js}"></script>
<script src="./webjars/fullcalendar/5.0.1/main.min.js" th:src="@{/webjars/fullcalendar/5.0.1/main.min.js}"></script>
<script src="./webjars/overlayscrollbars/1.13.0/js/jquery.overlayScrollbars.min.js" th:src="@{/webjars/overlayscrollbars/1.13.0/js/jquery.overlayScrollbars.min.js}"></script>
<script src="./webjars/select2/4.0.13/js/select2.full.min.js" th:src="@{/webjars/select2/4.0.13/js/select2.full.min.js}"></script>
<script src="./webjars/datatables/1.10.23/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.23/js/jquery.dataTables.min.js}"></script>
<script src="./webjars/datatables/1.10.23/js/dataTables.bootstrap4.min.js" th:src="@{/webjars/datatables/1.10.23/js/dataTables.bootstrap4.min.js}"></script>
<script src="./webjars/bootstrap-daterangepicker/3.0.5/js/bootstrap-daterangepicker.js" th:src="@{/webjars/bootstrap-daterangepicker/3.0.5/js/bootstrap-daterangepicker.js}"></script>
<script src="./webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>
<script src="./webjars/sweetalert2/10.12.5/dist/sweetalert2.all.min.js" th:src="@{/webjars/sweetalert2/10.12.5/dist/sweetalert2.all.min.js}"></script>
<script src="/js/adminlte.js" th:src="@{/js/adminlte.js}"></script>
<script src="/js/demo.js" th:src="@{/js/demo.js}"></script>
<script src="/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>