<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <link rel="stylesheet" href="./webjars/bootstrap/4.5.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="./webjars/font-awesome/5.14.0/css/all.min.css" th:href="@{/webjars/font-awesome/5.14.0/css/all.min.css}">
    <link rel="stylesheet" href="./webjars/icheck-bootstrap/3.0.1/icheck-bootstrap.css" th:href="@{/webjars/icheck-bootstrap/3.0.1/icheck-bootstrap.css}">
    <link rel="stylesheet" href="/css/adminlte.css" th:href="@{/css/adminlte.css}">
    <link rel="stylesheet" href="/css/app.css" th:href="@{/css/app.css}">
</head>
<body class="hold-transition login-page">
<div class="container">
    <div class="row">
        <div layout:fragment="content">

        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script src="./webjars/jquery/3.5.1/jquery.slim.js" th:src="@{/webjars/jquery/3.5.1/jquery.slim.js}"></script>
<script src="./webjars/bootstrap/4.5.3/js/bootstrap.bundle.js" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.js}"></script>
<script src="./webjars/font-awesome/5.14.0/js/all.min.js" th:src="@{/webjars/font-awesome/5.14.0/js/all.min.js}"></script>
<script src="/js/adminlte.js" th:src="@{/js/adminlte.js}"></script>
</body>
</html>