<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/designs/master}">
<head>
    <title th:text="#{label.dashboard}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div class="content-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{label.leave.application.form}"></h3>
                        </div>
                        <form th:action="@{/leave/application/save.do}" th:method="post" th:object="${leave}">
                            <input type="hidden" th:field="*{id}">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label for="start" th:text="#{label.start.date}"></label>
                                            <input type="text" id="start" class="form-control form-control-sm dateTime" th:field="*{startDate}">
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="end" th:text="#{label.end.date}"></label>
                                            <input type="text" id="end" class="form-control form-control-sm dateTime" th:field="*{endDate}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{label.submit}">Submit</button>
                            </div>
                        </form>
                    </div>

                    <div class="card-secondary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{label.leave.application.form.list}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </div>
</div>
</body>
</html>