<li class="nav-item" xmlns:th="http://www.thymeleaf.org">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p><span th:text="#{label.administration}"></span>
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a th:href="@{/admin/profile/user/{userid}/get.do (userid=${currentUser.id})}"class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p th:text="#{label.profile}"></p>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/user/management/get.do}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p th:text="#{label.user.management}"></p>
            </a>
        </li>
    </ul>
</li>