<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/designs/master}">
<head>
    <title th:text="#{label.dashboard}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div class="content-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" th:text="#{label.dashboard}"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="calendar" id="calendar"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>