<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/designs/master}">
<head>
    <title th:text="#{label.dashboard}"></title>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{label.user.registration.form}"></h3>
                        </div>
                        <form role="form" action="#" th:action="@{/admin/user/management/save.do}" th:object="${user}" th:method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="firstName" th:text="#{label.first.name}"></label>
                                            <input type="text" class="form-control input-sm" th:field="*{person.firstName}" id="firstName" th:required="true">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="middleName" th:text="#{label.middle.name}"></label>
                                            <input type="text" class="form-control input-sm" th:field="*{person.middleName}" id="middleName">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="lastName" th:text="#{label.last.name}"></label>
                                            <input type="text" class="form-control input-sm" th:field="*{person.lastName}" id="lastName" th:required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{label.registered.users.list}"></h3>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>